NET "CLK20MHz" LOC = P180;
NET "CLK20MHz" IOSTANDARD = LVCMOS33;

NET "RSCLK0" LOC = P115;
NET "RSCLK0" IOSTANDARD = LVCMOS33;

NET "TFS0" LOC = P113;
NET "TFS0" IOSTANDARD = LVCMOS33;

NET "T_TEST3_VDD" LOC = P127;
NET "T_TEST3_VDD" IOSTANDARD = LVCMOS33;

NET "UART_TX" LOC = P69;
NET "UART_TX" IOSTANDARD = LVCMOS33;

NET "UART_RX" LOC = P71;
NET "UART_RX" IOSTANDARD = LVCMOS33;

NET "T_TEST2_VDD" LOC = P96;
NET "T_TEST2_VDD" IOSTANDARD = LVCMOS33;

NET "ENABLE_BUS_IN" LOC = P97;
NET "ENABLE_BUS_IN" IOSTANDARD = LVCMOS33;

NET "TSCLK" LOC = P89;
NET "TSCLK" IOSTANDARD = LVCMOS33;

NET "T_TEST1_VDD" LOC = P128;
NET "T_TEST1_VDD" IOSTANDARD = LVCMOS33;

NET "BUS_T_SEC" LOC = P167;
NET "BUS_T_SEC" IOSTANDARD = LVCMOS33;

NET "BUS_ALE3" LOC = P165;
NET "BUS_ALE3" IOSTANDARD = LVCMOS33;

NET "T_TEST4_VDD" LOC = P164;
NET "T_TEST4_VDD" IOSTANDARD = LVCMOS33;

NET "BUS_ALE2" LOC = P163;
NET "BUS_ALE2" IOSTANDARD = LVCMOS33;

NET "BUS_ALE1" LOC = P162;
NET "BUS_ALE1" IOSTANDARD = LVCMOS33;

NET "RFS0" LOC = P178;
NET "RFS0" IOSTANDARD = LVCMOS33;

NET "REZERV_33V" LOC = P129;
NET "REZERV_33V" IOSTANDARD = LVCMOS33;

NET "BUS_CLK" LOC = P147;
NET "BUS_CLK" IOSTANDARD = LVCMOS33;

NET "BUS_DATA[0]" LOC = P175;
NET "BUS_DATA[0]" IOSTANDARD = LVCMOS33;

NET "BUS_DATA[1]" LOC = P174;
NET "BUS_DATA[1]" IOSTANDARD = LVCMOS33;

NET "BUS_DATA[2]" LOC = P169;
NET "BUS_DATA[2]" IOSTANDARD = LVCMOS33;

NET "BUS_DATA[3]" LOC = P168;
NET "BUS_DATA[3]" IOSTANDARD = LVCMOS33;

NET "BUS_DATA[4]" LOC = P161;
NET "BUS_DATA[4]" IOSTANDARD = LVCMOS33;

NET "BUS_DATA[5]" LOC = P160;
NET "BUS_DATA[5]" IOSTANDARD = LVCMOS33;

NET "BUS_DATA[6]" LOC = P159;
NET "BUS_DATA[6]" IOSTANDARD = LVCMOS33;

NET "BUS_DATA[7]" LOC = P154;
NET "BUS_DATA[7]" IOSTANDARD = LVCMOS33;

NET "BUS_WR" LOC = P146;
NET "BUS_WR" IOSTANDARD = LVCMOS33;

NET "BUS_RD" LOC = P145;
NET "BUS_RD" IOSTANDARD = LVCMOS33;

NET "RZV1" LOC = P112;
NET "RZV1" IOSTANDARD = LVCMOS33;

NET "RZV2" LOC = P109;
NET "RZV2" IOSTANDARD = LVCMOS33;

NET "PPI[0]" LOC = P205;
NET "PPI[0]" IOSTANDARD = LVCMOS33;

NET "PPI[1]" LOC = P203;
NET "PPI[1]" IOSTANDARD = LVCMOS33;

NET "PPI[2]" LOC = P202;
NET "PPI[2]" IOSTANDARD = LVCMOS33;

NET "PPI[3]" LOC = P200;
NET "PPI[3]" IOSTANDARD = LVCMOS33;

NET "PPI[4]" LOC = P199;
NET "PPI[4]" IOSTANDARD = LVCMOS33;

NET "PPI[5]" LOC = P197;
NET "PPI[5]" IOSTANDARD = LVCMOS33;

NET "PPI[6]" LOC = P196;
NET "PPI[6]" IOSTANDARD = LVCMOS33;

NET "PPI[7]" LOC = P193;
NET "PPI[7]" IOSTANDARD = LVCMOS33;

NET "data_PPI9" LOC = P181;
NET "data_PPI9" IOSTANDARD = LVCMOS33;

NET "ENABLE_HM_DR" LOC = P90;
NET "ENABLE_HM_DR" IOSTANDARD = LVCMOS33;

NET "RZV4" LOC = P93;
NET "RZV4" IOSTANDARD = LVCMOS33;

NET "ENABLE_EXT_VDD" LOC = P94;
NET "ENABLE_EXT_VDD" IOSTANDARD = LVCMOS33;

NET "RZV3" LOC = P192;
NET "RZV3" IOSTANDARD = LVCMOS33;

NET "PPI_FS3" LOC = P190;
NET "PPI_FS3" IOSTANDARD = LVCMOS33;

NET "MOSI" LOC = P47;
NET "MOSI" IOSTANDARD = LVCMOS33;

NET "MISO" LOC = P48;
NET "MISO" IOSTANDARD = LVCMOS33;

NET "CS_SPARTAN" LOC = P49;
NET "CS_SPARTAN" IOSTANDARD = LVCMOS33;

NET "SCLK" LOC = P50;
NET "SCLK" IOSTANDARD = LVCMOS33;

NET "RX_DSP" LOC = P74;
NET "RX_DSP" IOSTANDARD = LVCMOS33;

NET "TX_DSP" LOC = P75;
NET "TX_DSP" IOSTANDARD = LVCMOS33;

NET "RX_485_MG" LOC = P72;
NET "RX_485_MG" IOSTANDARD = LVCMOS33;

NET "TX_485_MG" LOC = P76;
NET "TX_485_MG" IOSTANDARD = LVCMOS33;

NET "RX_FTDI_1" LOC = P77;
NET "RX_FTDI_1" IOSTANDARD = LVCMOS33;

NET "TX_FTDI_1" LOC = P78;
NET "TX_FTDI_1" IOSTANDARD = LVCMOS33;

NET "WD_SUPERVISOR" LOC = P98;
NET "WD_SUPERVISOR" IOSTANDARD = LVCMOS33;

NET "TNI" LOC = P153;
NET "TNI" IOSTANDARD = LVCMOS33;

NET "TKI" LOC = P152;
NET "TKI" IOSTANDARD = LVCMOS33;

NET "TNI_1" LOC = P107;
NET "TNI_1" IOSTANDARD = LVCMOS33;

NET "TKI_1" LOC = P116;
NET "TKI_1" IOSTANDARD = LVCMOS33;

NET "CLK20MHz" LOC = P180;
NET "CLK20MHz" IOSTANDARD = LVCMOS33;

NET "T1_4" LOC = P108;
NET "T1_4" IOSTANDARD = LVCMOS33;

NET "RESET_MK_PLIS" LOC = P106;
NET "RESET_MK_PLIS" IOSTANDARD = LVCMOS33;

NET "EXT_A7" LOC = P2;
NET "EXT_A7" IOSTANDARD = LVCMOS33;

NET "EXT_A0" LOC = P3;
NET "EXT_A0" IOSTANDARD = LVCMOS33;

NET "TIMER_BF" LOC = P186;
NET "TIMER_BF" IOSTANDARD = LVCMOS33;

NET "PPI_F_SYN2" LOC = P189;
NET "PPI_F_SYN2" IOSTANDARD = LVCMOS33;

NET "PPI_FRAM_SYN1" LOC = P187;
NET "PPI_FRAM_SYN1" IOSTANDARD = LVCMOS33;

NET "PPI_CLK" LOC = P185;
NET "PPI_CLK" IOSTANDARD = LVCMOS33;

NET "data_PPI8" LOC = P184;
NET "data_PPI8" IOSTANDARD = LVCMOS33;

NET "RE_485" LOC = P55;
NET "RE_485" IOSTANDARD = LVCMOS33;

NET "BUS_ADDR[0]" LOC = P140;
NET "BUS_ADDR[0]" IOSTANDARD = LVCMOS33;

NET "BUS_ADDR[1]" LOC = P139;
NET "BUS_ADDR[1]" IOSTANDARD = LVCMOS33;

NET "BUS_ADDR[2]" LOC = P138;
NET "BUS_ADDR[2]" IOSTANDARD = LVCMOS33;

NET "BUS_ADDR[3]" LOC = P137;
NET "BUS_ADDR[3]" IOSTANDARD = LVCMOS33;

NET "BUS_ADDR[4]" LOC = P135;
NET "BUS_ADDR[4]" IOSTANDARD = LVCMOS33;

NET "BUS_ADDR[5]" LOC = P134;
NET "BUS_ADDR[5]" IOSTANDARD = LVCMOS33;

NET "BUS_ADDR[6]" LOC = P133;
NET "BUS_ADDR[6]" IOSTANDARD = LVCMOS33;

NET "BUS_ADDR[7]" LOC = P132;
NET "BUS_ADDR[7]" IOSTANDARD = LVCMOS33;

NET "ENABLE_BUS_OUT" LOC = P144;
NET "ENABLE_BUS_OUT" IOSTANDARD = LVCMOS33;

NET "CS_W5100" LOC = P15;
NET "CS_W5100" IOSTANDARD = LVCMOS33;

NET "INT_W5100" LOC = P14;
NET "INT_W5100" IOSTANDARD = LVCMOS33;

NET "WR_W5100" LOC = P4;
NET "WR_W5100" IOSTANDARD = LVCMOS33;

NET "RD_W5100" LOC = P5;
NET "RD_W5100" IOSTANDARD = LVCMOS33;

NET "SCLK_W5100" LOC = P8;
NET "SCLK_W5100" IOSTANDARD = LVCMOS33;

NET "SCS_W5100" LOC = P9;
NET "SCS_W5100" IOSTANDARD = LVCMOS33;

NET "MOSI_W5100" LOC = P11;
NET "MOSI_W5100" IOSTANDARD = LVCMOS33;

NET "MISO_W5100" LOC = P20;
NET "MISO_W5100" IOSTANDARD = LVCMOS33;

NET "TNP" LOC = P151;
NET "TNP" IOSTANDARD = LVCMOS33;

NET "TKP" LOC = P150;
NET "TKP" IOSTANDARD = LVCMOS33;

NET "TKP1" LOC = P12;
NET "TKP1" IOSTANDARD = LVCMOS33;

NET "DEBAG_LED4" LOC = P65;
NET "DEBAG_LED4" IOSTANDARD = LVCMOS33;

NET "DEBAG_PWM1" LOC = P82;
NET "DEBAG_PWM1" IOSTANDARD = LVCMOS33;

NET "DEBAG_PWM2" LOC = P83;
NET "DEBAG_PWM2" IOSTANDARD = LVCMOS33;

NET "DR0PRI" LOC = P91;
NET "DR0PRI" IOSTANDARD = LVCMOS33;

NET "CLK_5_CMOS" LOC = P80;
NET "CLK_5_CMOS" IOSTANDARD = LVCMOS33;

NET "data_PPI15" LOC = P171;
NET "data_PPI15" IOSTANDARD = LVCMOS33;

NET "TNO" LOC = P122;
NET "TNO" IOSTANDARD = LVCMOS33;

NET "TNC" LOC = P120;
NET "TNC" IOSTANDARD = LVCMOS33;

NET "TOBM" LOC = P119;
NET "TOBM" IOSTANDARD = LVCMOS33;

NET "data_PPI13" LOC = P177;
NET "data_PPI13" IOSTANDARD = LVCMOS33;

NET "data_PPI11" LOC = P194;
NET "data_PPI11" IOSTANDARD = LVCMOS33;

NET "data_PPI10" LOC = P204;
NET "data_PPI10" IOSTANDARD = LVCMOS33;

NET "data_PPI14" LOC = P172;
NET "data_PPI14" IOSTANDARD = LVCMOS33;

NET "data_PPI12" LOC = P179;
NET "data_PPI12" IOSTANDARD = LVCMOS33;

NET "EXT_A2" LOC = P123;
NET "EXT_A2" IOSTANDARD = LVCMOS33;

NET "EXT_A3" LOC = P126;
NET "EXT_A3" IOSTANDARD = LVCMOS33;

NET "EXT_A4" LOC = P26;
NET "EXT_A4" IOSTANDARD = LVCMOS33;

NET "RTS_485" LOC = P68;
NET "RTS_485" IOSTANDARD = LVCMOS33;

NET "RS232_RX_VDD" LOC = P58;
NET "RS232_RX_VDD" IOSTANDARD = LVCMOS33;

NET "VS0" LOC = P102;
NET "VS0" IOSTANDARD = LVCMOS33;

NET "VS1" LOC = P100;
NET "VS1" IOSTANDARD = LVCMOS33;

NET "VS2" LOC = P99;
NET "VS2" IOSTANDARD = LVCMOS33;

NET "RS232_TX_VDD" LOC = P61;
NET "RS232_TX_VDD" IOSTANDARD = LVCMOS33;














