
#Created by Constraints Editor (xc3s500e-pq208-5) - 2012/06/07
NET "clk_ppi" TNM_NET = "clk_ppi";
//NET "F20MHz" TNM_NET = "F20MHz";
//NET "CLK_SPI_BF" TNM_NET = "CLK_SPI_BF";
//TIMESPEC TS_F20MHz = PERIOD "F20MHz" 10 ns HIGH 50%;
//NET "XLXN_1225" TNM_NET = "XLXN_1225";
//TIMESPEC XLXN_1225 = PERIOD "F32MHZ" 31 ns HIGH 50%;
NET "T_5MIN_sinhro" CLOCK_DEDICATED_ROUTE = FALSE;


NET "F20MHz" LOC = P180;
NET "F64MHz" LOC = P183;

NET "T_5MIN_sinhro" LOC = P43;

NET "Tki"  LOC = P152;
NET "Tkp"  LOC = P150;
NET "Tnc"  LOC = P120;
NET "Tni"  LOC = P153;
NET "Tno"  LOC = P122;
NET "Tnp"  LOC = P151;
NET "TOBM" LOC = P119;


NET "Tki"  IOSTANDARD = LVCMOS33;
NET "Tkp"  IOSTANDARD = LVCMOS33;
NET "Tnc"  IOSTANDARD = LVCMOS33;
NET "Tni"  IOSTANDARD = LVCMOS33;
NET "Tno"  IOSTANDARD = LVCMOS33;
NET "Tnp"  IOSTANDARD = LVCMOS33;
NET "TOBM" IOSTANDARD = LVCMOS33;

NET "cs_ALE1" LOC = P162;
NET "cs_ALE2" LOC = P163;
NET "cs_ALE3" LOC = P165;

NET "cs_ALE1" IOSTANDARD = LVCMOS33;
NET "cs_ALE2" IOSTANDARD = LVCMOS33;
NET "cs_ALE3" IOSTANDARD = LVCMOS33;



NET "Rezerv_out" LOC = P129;
NET "Rezerv_out" IOSTANDARD = LVCMOS33;

NET "t1_4" LOC = P108;
NET "t1_4" IOSTANDARD = LVCMOS33;

NET "TKONTR1" LOC = P118;
NET "TKONTR2" LOC = P110;
NET "TKONTR3" LOC = P124;

NET "TKONTR1" IOSTANDARD = LVCMOS33;
NET "TKONTR2" IOSTANDARD = LVCMOS33;
NET "TKONTR3" IOSTANDARD = LVCMOS33;

NET "f5MHz" LOC = P80;
NET "fs1"   LOC = P187;
NET "fs2"   LOC = P189;
NET "fs3"   LOC = P190;

NET "timer_bf" LOC = P186;
NET "timer_bf" IOSTANDARD = LVCMOS33;

NET "reset_mk" LOC = P106;
NET "reset_mk" IOSTANDARD = LVCMOS33;

NET "led1" LOC = P102;
NET "led2" LOC = P100;
NET "led3" LOC = P99;
NET "led4" LOC = P65;
NET "pwm1" LOC = P82;
NET "pwm2" LOC = P83;



NET "T_TEST1" LOC = P128;
NET "T_TEST2" LOC = P96;
NET "T_TEST3" LOC = P127;
NET "T_TEST4" LOC = P164;
NET "wd_supervisor" LOC = P98;

NET "wd_supervisor" IOSTANDARD = LVCMOS33;
NET "wd_supervisor" DRIVE = 2;

NET "T_TEST1" IOSTANDARD = LVCMOS33;
NET "T_TEST2" IOSTANDARD = LVCMOS33;
NET "T_TEST3" IOSTANDARD = LVCMOS33;
NET "T_TEST4" IOSTANDARD = LVCMOS33;


//*************************************************SPI_W5100************************************************************
NET "MISO_w5100" LOC = P20;
NET "CLK_SPI_w5100" LOC = P8;
NET "CS_SPI1_w5100" LOC = P9;
NET "CS_SPI2_w5100" LOC = P15;
NET "MOSI_w5100" LOC = P11;
NET "MISO_BF" LOC = P48;
NET "INT_w5100" LOC = P14;


NET "CLK_SPI_BF" LOC = P50;
NET "CS_SPI_BF" LOC = P49;
NET "CS_SPI_BF" DRIVE = 2;
NET "MOSI_BF" LOC = P47;


NET "MISO_w5100" IOSTANDARD = LVCMOS33;
NET "CLK_SPI_w5100" IOSTANDARD = LVCMOS33;
NET "CS_SPI2_w5100" IOSTANDARD = LVCMOS33;
NET "CS_SPI1_w5100" IOSTANDARD = LVCMOS33;
NET "MOSI_w5100" IOSTANDARD = LVCMOS33;
NET "INT_w5100" IOSTANDARD = LVCMOS33;
NET "MISO_BF" IOSTANDARD = LVCMOS33;

NET "CLK_SPI_BF" IOSTANDARD = LVCMOS33;
NET "CS_SPI_BF" IOSTANDARD = LVCMOS33;
NET "MOSI_BF" IOSTANDARD = LVCMOS33;

NET "Bus_T" LOC = P167;
NET "Bus_T" IOSTANDARD = LVCMOS33;



//---------------------------------------------------------------------------------------------------------------------
NET "clk8_spi" LOC = P147;

NET "data8_spi[0]" LOC = P175;
NET "data8_spi[1]" LOC = P174;
NET "data8_spi[2]" LOC = P169;
NET "data8_spi[3]" LOC = P168;
NET "data8_spi[4]" LOC = P161;
NET "data8_spi[5]" LOC = P160;
NET "data8_spi[6]" LOC = P159;
NET "data8_spi[7]" LOC = P154;

NET "BUS_ADDR[0]" LOC = P140;
NET "BUS_ADDR[1]" LOC = P139;
NET "BUS_ADDR[2]" LOC = P138;
NET "BUS_ADDR[3]" LOC = P137;
NET "BUS_ADDR[4]" LOC = P135;
NET "BUS_ADDR[5]" LOC = P134;
NET "BUS_ADDR[6]" LOC = P133;
NET "BUS_ADDR[7]" LOC = P132;

NET "BUS_WR" LOC = P146;
NET "BUS_RD" LOC = P145;

NET "ENABLE_BUS_OUT" LOC = P144;
NET "ENABLE_BUS_IN" LOC = P97;

NET "ENABLE_BUS_OUT" IOSTANDARD = LVCMOS33;
NET "ENABLE_BUS_IN" IOSTANDARD = LVCMOS33;

NET "BUS_ADDR[0]" IOSTANDARD = LVCMOS33;
NET "BUS_ADDR[1]" IOSTANDARD = LVCMOS33;
NET "BUS_ADDR[2]" IOSTANDARD = LVCMOS33;
NET "BUS_ADDR[3]" IOSTANDARD = LVCMOS33;
NET "BUS_ADDR[4]" IOSTANDARD = LVCMOS33;
NET "BUS_ADDR[5]" IOSTANDARD = LVCMOS33;
NET "BUS_ADDR[6]" IOSTANDARD = LVCMOS33;
NET "BUS_ADDR[7]" IOSTANDARD = LVCMOS33;

NET "BUS_WR" IOSTANDARD = LVCMOS33;
NET "BUS_RD" IOSTANDARD = LVCMOS33;

//**************************************************UART_B600***********************************************************
NET "UART_TX" LOC = P69;
NET "UART_RX"   LOC = P71;
NET "RX_FTDI_1" LOC = P77;
NET "TX_FTDI_1" LOC = P78;

NET "TX_DSP" LOC = P75;
NET "bus_int1" LOC = P148;
NET "bus_int2" LOC = P130;
NET "bus_int3" LOC = P136;
NET "bus_int4" LOC = P142;

NET "RX_DSP" LOC = P74;
NET "TX_485_mg" LOC = P76;
NET "RX_485_mg" LOC = P72;
NET "RTS_485" LOC = P68;
NET "Re_485" LOC = P55;

NET "RX_485_mg" IOSTANDARD = LVCMOS33;
NET "RTS_485"   IOSTANDARD = LVCMOS33;
NET "Re_485"    IOSTANDARD = LVCMOS33;

NET "TX_DSP" IOSTANDARD = LVCMOS33;
NET "bus_int1" IOSTANDARD = LVCMOS33;
NET "bus_int2" IOSTANDARD = LVCMOS33;
NET "bus_int3" IOSTANDARD = LVCMOS33;
NET "bus_int4" IOSTANDARD = LVCMOS33;

NET "RX_DSP" IOSTANDARD = LVCMOS33;
NET "TX_485_mg" IOSTANDARD = LVCMOS33;
NET "UART_TX" IOSTANDARD = LVCMOS33;
NET "UART_RX" IOSTANDARD = LVCMOS33;
NET "RX_FTDI_1" IOSTANDARD = LVCMOS33;
NET "TX_FTDI_1" IOSTANDARD = LVCMOS33;

NET "RZV4" LOC = P93;
NET "RZV4" IOSTANDARD = LVCMOS33;

NET "RZV3" LOC = P192;
NET "RZV3" IOSTANDARD = LVCMOS33;
//----------------------------------------------------------------------------------------------------------------------
NET "TSCLK" LOC = P89;
NET "RSCLK0" LOC = P115;
NET "TFS0" LOC = P113;
NET "RFS0" LOC = P178;
NET "DT0SEC" LOC = P101;
NET "DT0PRI" LOC = P6;
NET "DR0PRI" LOC = P90;

NET "TSCLK" IOSTANDARD = LVCMOS33;
NET "RSCLK0" IOSTANDARD = LVCMOS33;
NET "TFS0" IOSTANDARD = LVCMOS33;
NET "RFS0" IOSTANDARD = LVCMOS33;
NET "DT0SEC" IOSTANDARD = LVCMOS33;
NET "DT0PRI" IOSTANDARD = LVCMOS33;
NET "DR0PRI" IOSTANDARD = LVCMOS33;

//--------------------------------------------------------------------------------------------------------------
NET "clk_ppi" LOC = P185;

NET "data_ppi[0]" LOC = P205;
NET "data_ppi[1]" LOC = P203;
NET "data_ppi[2]" LOC = P202;
NET "data_ppi[3]" LOC = P200;
NET "data_ppi[4]" LOC = P199;
NET "data_ppi[5]" LOC = P197;
NET "data_ppi[6]" LOC = P196;
NET "data_ppi[7]" LOC = P193;
NET "data_ppi8" LOC = P184;
NET "data_ppi9" LOC = P181;
NET "data_ppi10" LOC = P204;
NET "data_ppi11" LOC = P194;
NET "data_ppi12" LOC = P179;
NET "data_ppi13" LOC = P177;
NET "INT1_BfPPI14" LOC = P172;
NET "ppi15" LOC = P171;

NET "INT1_BfPPI14" IOSTANDARD = LVCMOS33;

NET "F20MHz" IOSTANDARD = LVCMOS33;
NET "F64MHz" IOSTANDARD = LVCMOS33;
NET "T_5MIN_sinhro" IOSTANDARD = LVCMOS33;

NET "clk8_spi" IOSTANDARD = LVCMOS33;
NET "clk_ppi" IOSTANDARD = LVCMOS33;

NET "data8_spi[0]" IOSTANDARD = LVCMOS33;
NET "data8_spi[1]" IOSTANDARD = LVCMOS33;
NET "data8_spi[2]" IOSTANDARD = LVCMOS33;
NET "data8_spi[3]" IOSTANDARD = LVCMOS33;
NET "data8_spi[4]" IOSTANDARD = LVCMOS33;
NET "data8_spi[5]" IOSTANDARD = LVCMOS33;
NET "data8_spi[6]" IOSTANDARD = LVCMOS33;
NET "data8_spi[7]" IOSTANDARD = LVCMOS33;

NET "data_ppi[0]" IOSTANDARD = LVCMOS33;
NET "data_ppi[1]" IOSTANDARD = LVCMOS33;
NET "data_ppi[2]" IOSTANDARD = LVCMOS33;
NET "data_ppi[3]" IOSTANDARD = LVCMOS33;
NET "data_ppi[4]" IOSTANDARD = LVCMOS33;
NET "data_ppi[5]" IOSTANDARD = LVCMOS33;
NET "data_ppi[6]" IOSTANDARD = LVCMOS33;
NET "data_ppi[7]" IOSTANDARD = LVCMOS33;
NET "data_ppi8" IOSTANDARD = LVCMOS33;
NET "data_ppi9" IOSTANDARD = LVCMOS33;
NET "data_ppi10" IOSTANDARD = LVCMOS33;
NET "data_ppi11" IOSTANDARD = LVCMOS33;
NET "data_ppi12" IOSTANDARD = LVCMOS33;
NET "data_ppi13" IOSTANDARD = LVCMOS33;
NET "ppi15" IOSTANDARD = LVCMOS33;



NET "f5MHz" IOSTANDARD = LVCMOS33;
NET "fs1" IOSTANDARD = LVCMOS33;
NET "fs2" IOSTANDARD = LVCMOS33;
NET "fs3" IOSTANDARD = LVCMOS33;


NET "led1" IOSTANDARD = LVCMOS33;
NET "led2" IOSTANDARD = LVCMOS33;
NET "led3" IOSTANDARD = LVCMOS33;
NET "led4" IOSTANDARD = LVCMOS33;
NET "pwm1" IOSTANDARD = LVCMOS33;
NET "pwm2" IOSTANDARD = LVCMOS33;







# PlanAhead Generated IO constraints 
NET "MISO_w5100" DRIVE = 2;
NET "MISO_w5100" SLEW = FAST;
NET "MISO_w5100" PULLUP;
NET "fs3" PULLUP;
NET "fs3" DRIVE = 2;
NET "CS_SPI1_w5100" DRIVE = 2;
NET "CLK_SPI_w5100" DRIVE = 2;
NET "CS_SPI2_w5100" DRIVE = 2;
NET "CS_SPI_BF" PULLUP;
NET "INT_w5100" PULLUP;
NET "MOSI_w5100" DRIVE = 2;



//NET "F20MHz" CLOCK_DEDICATED_ROUTE = FALSE;
#Created by Constraints Editor (xc3s500e-pq208-5) - 2013/11/08
OFFSET = IN 20 ns VALID 20 ns BEFORE "F20MHz" RISING;
INST "data_ppi<0>" TNM = ppi;
INST "data_ppi<1>" TNM = ppi;
INST "data_ppi<2>" TNM = ppi;
INST "data_ppi<3>" TNM = ppi;
INST "data_ppi<4>" TNM = ppi;
INST "data_ppi<5>" TNM = ppi;
INST "data_ppi<6>" TNM = ppi;
INST "data_ppi<7>" TNM = ppi;
TIMEGRP "ppi" OFFSET = IN 50 ns VALID 50 ns BEFORE "F20MHz" RISING;


#Created by Constraints Editor (xc3s500e-pq208-5) - 2013/11/08
OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK_SPI_BF" RISING;
INST "MISO_w5100" TNM = spi_bf;
INST "CLK_SPI_w5100" TNM = spi_bf;
INST "CS_SPI2_w5100" TNM = spi_bf;
INST "CS_SPI1_w5100" TNM = spi_bf;
INST "MOSI_w5100" TNM =spi_bf;
INST "CLK_SPI_BF" TNM =spi_bf;
TIMEGRP "spi_bf" OFFSET = IN 50 ns VALID 50 ns BEFORE "CLK_SPI_BF" RISING;

//NET "MISO_w5100" CLOCK_DEDICATED_ROUTE = FALSE;
//NET "MOSI_BF" CLOCK_DEDICATED_ROUTE = FALSE;
//NET "CS_SPI_BF" CLOCK_DEDICATED_ROUTE = FALSE;
NET "TSCLK" CLOCK_DEDICATED_ROUTE = FALSE; 

//NET "F20MHz" CLOCK_DEDICATED_ROUTE = FALSE;
 NET "CLK_SPI_BF" CLOCK_DEDICATED_ROUTE = FALSE;

NET "data8_spi<0>" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "data8_spi<1>" CLOCK_DEDICATED_ROUTE = FALSE;
#Created by Constraints Editor (xc3s500e-pq208-5) - 2015/05/18
NET "F20MHz" TNM_NET = F20MHz;
TIMESPEC TS_F20MHz = PERIOD "F20MHz" 50 ns HIGH 50%;
NET "TSCLK" TNM_NET = TSCLK;
TIMESPEC TS_TSCLK = PERIOD "TSCLK" 15 ns HIGH 50%;
NET "F64MHz" TNM_NET = F64MHz;
INST "BUS_ADDR<0>" TNM = BUS_PPI_OUT;
INST "BUS_ADDR<1>" TNM = BUS_PPI_OUT;
INST "BUS_ADDR<2>" TNM = BUS_PPI_OUT;
INST "BUS_ADDR<3>" TNM = BUS_PPI_OUT;
INST "BUS_ADDR<4>" TNM = BUS_PPI_OUT;
INST "BUS_ADDR<5>" TNM = BUS_PPI_OUT;
INST "BUS_ADDR<6>" TNM = BUS_PPI_OUT;
INST "BUS_ADDR<7>" TNM = BUS_PPI_OUT;
INST "BUS_WR" TNM = BUS_PPI_OUT;
INST "clk8_spi" TNM = BUS_PPI_OUT;
TIMEGRP "BUS_PPI_OUT" OFFSET = OUT 50 ns AFTER "F20MHz";
INST "RFS0" TNM = SPORT_out;
INST "RSCLK0" TNM = SPORT_out;
INST "DR0PRI" TNM = SPORT_out;
TIMEGRP "SPORT_out" OFFSET = OUT 15 ns AFTER "TSCLK";
INST "DT0PRI" TNM = SPORT_in;
INST "DT0SEC" TNM = SPORT_in;
INST "TFS0" TNM = SPORT_in;
TIMEGRP "SPORT_in" OFFSET = IN 15 ns VALID 15 ns BEFORE "TSCLK" RISING;
